<?xml version="1.0"?>
<config>
	<modules>
		<Gbprimepay_Gbp>
			<version>0.0.1</version>
		</Gbprimepay_Gbp>
	</modules>
	<global>
		<models>
			<gbp>
				<class>Gbprimepay_Gbp_Model</class>
			</gbp>
		</models>
		<helpers>
			<gbp>
				<class>Gbprimepay_Gbp_Helper</class>
			</gbp>
		</helpers>
		<blocks>
			<gbp>
				<class>Gbprimepay_Gbp_Block</class>
			</gbp>
		</blocks>

		<resources>
			<gbp_setup>
				<setup>
					<module>Gbprimepay_Gbp</module>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</gbp_setup>
			<gbp_write>
				<connection>
					<use>core_write</use>
				</connection>
			</gbp_write>
			<gbp_read>
				<connection>
					<use>core_read</use>
				</connection>
			</gbp_read>
		</resources>
	</global>
	<default>
		<payment>
			<gbp>
				<model>gbp/gbp</model>
				<active>1</active>
				<cgi_url>0</cgi_url>
				<order_status>pending</order_status>
				<title>GBPrimePay</title>
				<payment_action>sale</payment_action>
				<allowspecific>0</allowspecific>
				<sort_order>1</sort_order>
			</gbp>
		</payment>
	</default>
	<frontend>
		<routers>
			<gbp>
				<use>standard</use>
				<args>
					<module>Gbprimepay_Gbp</module>
					<frontName>gbp</frontName>
				</args>
			</gbp>
		</routers>
	</frontend>
</config>